.welcomePageTitleContainer {
  height: 100px;
  text-align: center;
  padding: 28px 0;
}

.welcomePageButtonContainer {
  text-align: center;
}

.validationMessage {
  color: red;
}

.textContainer {
  height: 25px;
  margin: 5px 0;
}

.title {
  width: 450px;
}

.body {
  height: 200px;
  width: 450px;
}

.spacing {
  height: 10px;
}

.date {
  text-align: center;
}

.adBody {
  display: block;
  margin: auto;
  padding: 20px;
  width: 500px;
}

.image {
  display: block;
  padding: 20px;
  width: 500px;
  margin: auto;
}